Link {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  .cart-count{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -22px;
    margin-left: -65px;
    border-radius: 11px;
    font-size: 10px;
    color: white;
    background-color: red; 
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }